/* Don't change the existing CSS. you can add new  */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}
#outer-box{
  border: 10px solid rgb(119, 3, 134);
  padding: 10px;
}
.inner-box{
    background-color: red;
}
.white-text{
 color: white;
  
}

